<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
</head>
<style>
    input{
        display: block;
    }
</style>
<body>
<form action="signIn" method="post">
    <input name="id" type="text" placeholder="아이디 입력">
    <input name="password" type="password" placeholder="비번 입력">
    <input type="submit" value="로그인">
</form>
</body>
<script>
/*    function send(){
        if(id.valueOf()=="admin"){

        }else if(id.valueOf()=="user"){

        }
    }*/
</script>
</html>